name: Build AAB

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.6'  # Or your Flutter stable version

      - name: Install dependencies
        run: flutter pub get

      - name: Build Release AppBundle
        run: flutter build appbundle --release --no-tree-shake-icons
